*, *::after, *::before {
    box-sizing: border-box;
}

.header__list {
    flex-wrap: wrap;
    display: flex;
}

a {
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 0;
    height: 0;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.header__item {
    margin-right: 30px;
    margin-top: 5px;
}

li {
    list-style: none;
}

.intro {
    height: 100vh;
    background: url(../static/catalog/22.jpg) no-repeat;
    background-size: cover;
}